.App {
  text-align: center;
}

.slideshow {
  margin: 100px auto;
  height: 350px;
  width: 350px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px black;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: background-image 0.2s ease-in-out;
}
